.idea/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/ClientLauncher.xml

*.class
target/
dist/
javafx-sdk/
lib/
.tools/
.env
*.env
!.env.example
*.log
*.iml
dependency-reduced-pom.xml
out/
